<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
<title th:utext="#{label.pages.home.title}">home</title>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" th:href="@{/home.html}" th:utext="#{label.pages.home.title}">home</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a th:href="@{/logout}" th:utext="#{label.pages.logout}">logout</a> </li>
      </ul>
    </div>
</nav>

    <div class="container">
	    <p th:if="${param.user} != null" th:text="${'Welcome, '+param.user[0]+'.'}">.</p>
	    <p> You are a:</p>
	    <ul >
	    	<li sec:authorize="hasAuthority('ROLE_ADMIN')" th:utext="#{label.pages.admin}" />
    		<li sec:authorize="hasAuthority('ROLE_MANAGER')" th:utext="#{label.pages.manager}" />
    		<li sec:authorize="hasAuthority('ROLE_USER')" th:utext="#{label.pages.user}"/>
	    </ul>
	    
	    <a sec:authorize="hasAuthority('ROLE_ADMIN')" class="btn btn-default" th:href="@{/admin.html}" th:utext="#{label.pages.admin}">admin console</a>
	    <br /><br />	    
	    
	   	<a sec:authorize="hasAuthority('ROLE_MANAGER')" class="btn btn-default" th:href="@{/management.html}" th:utext="#{label.pages.manager}">manager console</a>
		<br /> <br />

	    <a th:href="@{/loggedUsers}" th:utext="#{label.pages.users.message}">View logged in users</a>
		<br />	    
	    <a th:href="@{/loggedUsersFromSessionRegistry}" th:utext="#{label.pages.users.sessionregistry.message}">View logged in users</a>
	    
    </div>
</body>
</html>
